.cont {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formregistro {
  width: 300px;
  height: 350px;
  background-color: lightgray;
  text-align: center;
  padding: 20px;
}
