/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li.titulo a {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

.navbar li a {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}

.navbar-right .notification img,
.navbar-right .profile img {
  width: 30px;
}

/* Contenido */
.content {
  display: flex;
  margin-top: 20px;
}

.column1,
.column2,
.column3 {
  flex: 1;
  padding: 10px;
}

.column1 {
  background-color: #f0f0f0;
}

.column2 {
  background-color: #eee;
}

.column3 {
  background-color: #ddd;
}

.column1 h2,
.column2 h2,
.column3 h2 {
  margin-top: 0;
}

/* Tabla */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.table th {
  background-color: #666;
  color: #fff;
}

/* Estilos adicionales */
.btn {
  background-color: #f0f0f0;
  color: #333;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}
